language: node

cache:
  yarn: true

install:
  - git clone https://github.com/n7consulting/jeyser-site.git
  - cd jeyser-site
  - yarn install
  - bin/retrieve-documentation

script:
  - yarn gatsby build

# deploy to jeyser-site repository
deploy:
  provider: pages
  skip_cleanup: true
  repo: n7consulting/jeyser-site
  github_token: $GITHUB_TOKEN
  local_dir: jeyser-site/public
  fqdn: jeyser-crm.n7consulting.fr
  on:
    branch: master
